@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Minecraft";
  src: url("./Minecraft.otf");
}

@layer components {
  .mcui-input {
    @apply bg-black;
    @apply border-2;
    @apply border-b-mcgui-slot-border-light;
    @apply border-e-mcgui-slot-border-light;
    @apply border-t-mcgui-slot-border-dark;
    @apply border-s-mcgui-slot-border-dark;
    @apply text-white;
  }

  .mcui-window {
    @apply bg-mcgui-bg;
    @apply border-2;
    @apply border-t-mcgui-border-light;
    @apply border-s-mcgui-border-light;
    @apply border-b-mcgui-border-dark;
    @apply border-e-mcgui-border-dark;
  }

  .mcui-button {
    @apply bg-neutral-500;
    @apply text-white;
    @apply border-2;
    @apply border-t-mcgui-slot-border-light;
    @apply border-s-mcgui-slot-border-light;
    @apply border-b-mcgui-slot-border-dark;
    @apply border-e-mcgui-slot-border-dark;

    @apply disabled:border-black;
    @apply disabled:border-2;
    @apply disabled:text-stone-500 ;
    @apply disabled:bg-stone-800;

    @apply hover:border-white;
    @apply hover:border-4;
    
    @apply active:border-white;
    @apply active:border-4;
    @apply active:bg-stone-700;

    text-shadow: 1.5px 1.5px 0px #373737;
  }
}

:root {
  font-family: Minecraft, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
}

react-flow__node-machine {
  @apply z-10;
}

react-flow__node-slot-group {
  @apply z-20;
}
